.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Me  */
.store {
 background-image: url("../public/glassesImage/background.jpg");
}
.store-img {
  width: 100%;
}
.store-img-glass{
  position: relative;
}
.store-glasses{
  position: absolute;
  left: 108px;
  top: 150px;
  width: 220px;
  height: 90px;
  opacity: 0.7;
}